name: Lint

on:
  push:
    branches:
      - package/*

jobs:
  lint:
    if: startsWith(github.head_ref, 'package/')
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
      - name: Lint
        uses: memo33/sc4pac-actions/actions/lint/action.yaml@main
