name: Lint

on:
  push:
    branches:
      - package/*

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Echo
        run: echo hello
      # - name: Checkout
      #   uses: actions/checkout@v4
      # - name: Lint
      #   uses: memo33/sc4pac-actions/actions/lint@main
